
<!--**** This is the sign up page
******** the route is "/signup" and is specified in the app-routing module
******** main goal is to allow user to create an account
-->

<form>
    <h2>Signup here!</h2>

    <input type="text" id="Fname" placeholder="First Name">
    <input type="text" id="Lname" placeholder="Last Name">
    <input type="email" id="email" placeholder="Email">
    <input type="text" id="username" placeholder="Username">


    <input type="text" id="password" placeholder="Password">

    <button type="submit" id="Signup">Signup!</button>
    <hr>
    <button type="button" id="login-page" routerLink="">Login</button>
</form>
