
<!--**** This is the login page
******** the route is " " and is specified in the app-routing module
******** the main goal is provide login functionality for the user
-->





<body>

    <form>
        <div class="login">
            <h2>Welcome, please login</h2>

            <input type="text" id="username" placeholder="Username">
            <input type="text" id="password" placeholder="Password">

            <button type="button" id="login-btn" routerLink="/homepage">Login</button>
            <hr>
            <button type="button" id="signup-btn" routerLink="/signup">Signup</button>
        </div>
    </form>

</body>

